package web

templ IndexPage() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<script src="assets/js/htmx.min.js"></script>
		</head>
		<body>
			<main>
        <h1>Welome to my website hahaha</h1>
        <a href="/web">Say hi</a>
			</main>
		</body>
	</html>
}
